/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


:root {
  --bg: #0f1724; /* light by default? use light palette if you want default light */
  --surface: #ffffff;
  --text-primary: #0f1724;
  --muted: #6b7280;
  --accent: #7c3aed; /* primary */
  --accent-2: #06b6d4;
}

/* dark theme variables */
.dark {
  --bg: #020617;
  --surface: #071026;
  --text-primary: #e6eef8;
  --muted: #94a3b8;
  --accent: #8b5cf6;
  --accent-2: #06b6d4;
}

/* styles.css or global.scss */
.primary {
  background-color: #7c3aed;
  color: white;
}

.primary-dark {
  background-color: #6d28d9;
  color: white;
}

.accent {
  color: #06b6d4;
}

.surface {
  background-color: #0b1220;
  color: white;
}

* {
  transition: background 0.3s ease, color 0.3s ease;
}


html, body {
  scroll-behavior: smooth;
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--bg);
  color: var(--text-primary);
}
.btn-primary {
  background: var(--accent);
  color: white;
}


